
/*body {*/
/*background: #e0e4ea url('/images/web2/body-bg.png') repeat-x top;*/
/*text-align: center;*/
/*}*/

#container {
    width: 950px;
    margin: 0 auto;
    text-align: left;
}
#header {
    height: 67px;
}
/*#logo {*/
    /*float: left;*/
    /*margin-top: 15px;*/
    /*position: relative;*/
/*}*/

/*#logo h2 a {*/
    /*display: block;*/
    /*background: url('/images/web2/logo.png') no-repeat -1px 0;*/
    /*width: 220px;*/
    /*width: 218px;*/
    /*height: 38px;*/
/*}*/

#logo h2 a:hover {
    background-position: -1px -38px;
}
#logo h2 a:active,
#logo h2 a.active {
    background-position: -1px -76px;
}
#logo h2 a span {
    display: block;
    position: absolute;
    top: -5000px;
    left: -5000px;
}
#logo .dropdown-box {
    top: 37px;
}
#logo-dropdown {
    width: 218px;
    padding-bottom: 28px;
    background: url('/images/web2/logo-dropdown.png') no-repeat -1px 100%;
    display: none;
}
#logo-dropdown li a {
    display: block;
    width: 173px;
    font-weight: bold;
    height: 37px;
    line-height: 37px;
    padding-left: 45px;
    background: url('/images/web2/logo-dropdown.png') no-repeat -1px -41px;
}
#logo-dropdown li a:link,
#logo-dropdown li a:visited {
    color: #b0bcc5;
    text-shadow: 0 1px #000;
    -webkit-font-smoothing: antialiased;
}
#logo-dropdown li a:hover {
    background-position: -1px 0;
    color: #fff;
    text-decoration: none;
}
#logo-dropdown li:first-child a { background-position: -1px -42px; height: 36px; line-height: 36px }
#logo-dropdown li:first-child a:hover { background-position: -1px -1px }

.copyright {
    text-align: right;
    color: #95a0b9;
    font-size: 11px;
    padding-bottom: 0;
    margin-bottom: 0;
}

/* Main Menu */
#nav {
    float: right;
    margin-top: 17px;
    margin-left: -20px;
}
#nav li {
    float: left;
    margin-left: 20px;
}

/*Content*/
#body {
    margin-top: 30px;
    width: 100%;
}
.column66,
.rgt-column66 {
    width: 660px;
    float: left;
    margin-right: 30px;
}
.column33,
.lft-column33 {
    width: 260px;
    float: left;
}
.rgt-column66 {
    margin-right: 0;
}
.lft-column33 {
    margin-right: 30px;
}


/* Quick Search */
input, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #b0bcc5;
}
textarea {
    resize: vertical;
}
input[type="radio"] {
    width: 15px;
}
input.filefield { width: auto; }
input:focus, textarea:focus {
    background-color: #e8f3fa;
}
input.submitbutton {
    background-color: transparent !important;
}

#nav-search {
    float: right;
    width: 173px;
    height: 26px;
}
#nav-search input {
    float: left;
    width: 137px;
    height: 15px;
    background: url('/images/web2/search-left.png') no-repeat;
    padding: 5px 0 6px 5px;
    margin: 0;
    border: 0;
}
#nav-search button {
    width: 31px;
    height: 26px;
    background: url('/images/web2/search-right.png') no-repeat;
    padding: 0;
    border: 0;
    text-indent: -5000px;
}
#nav-search button:hover { background-position: 0 -26px }
#nav-search button:active { background-position: 0 -52px }
#nav-search input,
#nav-search .overTxtLabel {
    color: #595050;
    font-size: 13px;
}

#go-view-content {
    background: url('../images/icons/arrow-green-right.png') no-repeat 100% 75%;
    padding-right: 18px;
    color: #417F00;
}


.xhtml-description-helper p, .xhtml-description-helper li {
    margin-bottom: 0em;
}
.xhtml-description-helper em {
    font-weight: bold;
}

.spinner {
    background: url('../images/icons/spinner.gif') no-repeat;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
    /* you must set a width in pixels for this to work */
}


#comments-table td.comments-count {
    width: 30px;
    text-align: right;
    padding-right: 0;
}
.comments-published td { color: #417F00; }
.comments-unreviewed td { color: #e66f00; }
.comments-trash td { color: #9b9b9b; }
.bulk-toggle,
.bulk-checkbox {
    width: auto;
}
.bulk-control {
    margin-top: 1px;
    margin-left: 10px;
}
.bulk-control select {
    font-size :14px;
    margin-top: 1px;
}


/* Styles for tables that include status columns,
 * like the Storage Engine and Players index tables */
.status-enabled,
.status-disabled,
.status-enabled:hover,
.status-disabled:hover {
    display: block;
    width: 0;
    height: 0;
    padding-top: 16px;
    padding-left: 16px;
    margin: 0 auto;
    overflow: hidden;
    background-position: 0 0;
    background-color: transparent;
    border: 0;
}
.status-enabled {
    background-image: url('../images/icons/green.png');
}
.status-disabled {
    background-image: url('../images/icons/grey.png');
}
.status-table th#h-status,
.status-table td[headers='h-status'] {
    padding-right: 0;
}
.status-table td[headers='h-status'] {
    text-align: center;
    padding-top: 12px;
}

form.arrows {
    height: 16px;
}
.uparrow,
.downarrow,
.uparrow:hover,
.downarrow:hover {
    display: inline-block;
    height: 0;
    width: 0;
    padding-top: 16px;
    padding-left: 16px;
    overflow: hidden;
    background-position: 0 0;
    border: 0;
}
.uparrow {
    background-image: url('../images/icons/up.png');
}
.downarrow {
    background-image: url('../images/icons/down.png');
}

td[headers='h-btns'] {
    white-space: nowrap;
}

/* Classes to apply individual styles */
.hidden { display: none; }
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.f-lft { float: left; }
.f-rgt { float: right; }
.clear { clear: both }
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* html .clearfix { height: 1% }
.clickable, .link, .btn, button { cursor: pointer; }
.unclickable { cursor: default; }
.italic {
    font-style: italic;
    color: #adaba3;
}
.block {
    display: block;
}

/* Google Closure Library crossbrowser inline-block */
.goog-inline-block,
.btn {
    position: relative;
    display: -moz-inline-box; /* Ignored by FF3 and later. */
    display: inline-block;
}
* html .goog-inline-block,
* html .btn {
    display: inline;
}
*:first-child+html .goog-inline-block,
*:first-child+html .btn {
    display: inline;
}
.block {
    display: block;
}
